@font-face {
    font-family: WelcomeFontRPT;
    src: url('../FONTS/GrandAventure.ttf');
}
@font-face {
    font-family: WelcomeFontRPTslogan;
    src: url('../FONTS/fontbtns.ttf');
}
body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans',sans-serif;
    background: url('../IMAGES/welcome.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #343a40;
}
.navbar {
    background-color: #343a40;
    padding: 1% 0%;
    font-size: 14px;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5
}

.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li a:active {
    color: #fff
} 
.navbar-brand-name > {
    display: inline-block;
    float: left;
}

.navbar-brand-name > img {
        display: inline-block;
        float: left;
        padding: 0 15px 0 0;
}



.landing-text {
    font-family: WelcomeFontRPT;
    text-shadow: 0 0 5px #00ff2a, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #63ff75, 0 0 30px #00e029, 0 0 40px #4ec956, 0 0 50px #7dbf37, 0 0 75px #66c63d;
    letter-spacing: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}
    .landing-text h3 {
        font-size: 200%;
        font-weight: 700;
        color: #b8fcc3;
        font-family: WelcomeFontRPTslogan;
        text-shadow: 0 0 5px #00ff2a, 0 0 10px #00ff2a, 0 0 15px #fff, 0 0 20px #63ff75, 0 0 30px #00e029, 0 0 40px #4ec956, 0 0 50px #7dbf37, 0 0 75px #66c63d;
    }

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #222222;
}

.content-header {
    font-family: 'Oleo Script', cursive;
    color: #fcc500;
    font-size: 45px;
}

.section-content {
    text-align: center;
}

#contact {
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186, #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.contact-section {
    padding-top: 40px;
}

    .contact-section .col-md-6 {
        width: 50%;
    }

.form-line {
    border-right: 1px solid #B29999;
}

.form-group {
    margin-top: 10px;
}

label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1.3em;
    color: #080808;
}

textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}

