body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans',sans-serif;
    background-image: url('../IMAGES/spices-food-wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #343a40;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #222222;
    color: #fff;
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 50px;
}
.navbar {
    background-color: #343a40;
    padding: 1% 0%;
    font-size: 14px;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5
}

    .navbar-default .navbar-nav li a:hover,
    .navbar-default .navbar-nav li a:active {
        color: #fff
    }

.navbar-brand-name > {
    display: inline-block;
    float: left;
}

    .navbar-brand-name > img {
        display: inline-block;
        float: left;
        padding: 0 15px 0 0;
    }

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}